</main>

<div class="centered-container">
  <footer class="footercontainer">
      <p>Copyright ©<strong>RA</strong>jshekar <strong>PU</strong>jari <%= new Date().getFullYear() %></p>
  </footer>
</div>
</body>

</html>